.spinner {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(58, 78, 114, 0.2);
  border-top-color: #3a4e72;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}